{% extends 'base.html'%}
{% block content%}
<h1>Welcome to Little Lemon Restaurant</h1>

<p>
    Little Lemon Restaurant is a charming eatery nestled in the beautiful region of Chalkidiki, Greece. We specialize in serving authentic Greek cuisine, offering a delightful culinary experience for our guests.
</p>

<p>
    Our menu features a wide array of traditional Greek dishes, prepared with the freshest and finest ingredients. From savory moussaka to succulent souvlaki, every bite at Little Lemon Restaurant is a journey to the heart of Greece.
</p>

<p>
    Whether you're a local resident or a visitor exploring the wonders of Chalkidiki, we invite you to join us and savor the flavors of Greece at Little Lemon Restaurant.
</p>

{% endblock%}